# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.6

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [4]:
# Implemente aqui sua solução
qnt_consumidores = len(purchase_file.Login.unique())
print("Quantidade total de consumidores: %d" % qnt_consumidores)

Quantidade total de consumidores: 573

## Análise Geral de Compras

In [5]:
# Implemente aqui sua solução


qnt_itens_exclusivos = len(purchase_file["Item ID"].unique())
print("Números de itens exclusivos: %d" % qnt_itens_exclusivos)

preco_medio = purchase_file.Valor.mean()
print("Valor médio de compras: $%.2f" % preco_medio)

#qnt_total_compras = purchase_file.shape[0]
qnt_total_compras = len(purchase_file.index)
print("Número total de compras: %d" % qnt_total_compras)

rendimento_total = purchase_file.Valor.sum()
print("Rendimento Total: $%.2f" % rendimento_total)

Números de itens exclusivos: 183
Valor médio de compras: $2.93
Número total de compras: 780
Rendimento Total: $2286.33

## Análise Demográfica

In [6]:
analise_demografica = dict()

analise_demografica["Faixas Etárias"] = ["0-20","20-40","40-60","60+"]

faixas = [[0,20],[20,40],[40,60],[60,150]]
masc = list()
fem = list()
outros = list()
#print(faixas)

for [x,y] in faixas:
    a = purchase_file[purchase_file.Idade.isin([i for i in range(x,y)]) & purchase_file.Sexo.eq("Masculino")]
    masc.append(len(a.index))
    a = purchase_file[purchase_file.Idade.isin([i for i in range(x,y)]) & purchase_file.Sexo.eq("Feminino")]
    fem.append(len(a.index))
    a = purchase_file[purchase_file.Idade.isin([i for i in range(x,y)]) & ~purchase_file.Sexo.eq("Masculino") & ~purchase_file.Sexo.eq("Feminino")]
    outros.append(len(a.index))

analise_demografica["Masculino"] = masc
analise_demografica["Feminino"] = fem
analise_demografica["Outros"] = outros

analise_demografica = pd.DataFrame(analise_demografica)
analise_demografica

  Faixas Etárias  Masculino  Feminino  Outros
0           0-20        156        39       1
1          20-40        462        95      10
2          40-60         15         2       0
3            60+          0         0       0

## Informações Demográficas Por Gênero

In [7]:
# Implemente aqui sua solução
# Implemente aqui sua solução

qnt_compradores_masc = len(purchase_file[purchase_file.Sexo.eq("Masculino")].index)
porc_compradores_masc = (qnt_compradores_masc/qnt_total_compras)*100
print("%d compradores são do sexo masculino, uma porcentagem de %.2f" % (qnt_compradores_masc,porc_compradores_masc ))

qnt_compradores_fem = len(purchase_file[purchase_file.Sexo.eq("Feminino")].index)
porc_compradores_fem = (qnt_compradores_fem/qnt_total_compras)*100
print("%d compradores são do sexo feminino, uma porcentagem de %.2f" % (qnt_compradores_fem,porc_compradores_fem))

qnt_compradores_outros = len(purchase_file[~purchase_file.Sexo.eq("Masculino") & ~purchase_file.Sexo.eq("Feminino")].index)
porc_compradores_outros = (qnt_compradores_outros/qnt_total_compras)*100
print("%d compradores são do sexo outros, uma porcentagem de %.2f" % (qnt_compradores_outros,porc_compradores_outros))

633 compradores são do sexo masculino, uma porcentagem de 81.15
136 compradores são do sexo feminino, uma porcentagem de 17.44
11 compradores são do sexo outros, uma porcentagem de 1.41

## Análise de Compras Por Gênero

In [8]:
# Implemente aqui sua solução

preco_medio_masc = purchase_file[purchase_file.Sexo.eq("Masculino")].Valor.mean()
preco_medio_fem = purchase_file[purchase_file.Sexo.eq("Feminino")].Valor.mean()
preco_medio_outro = purchase_file[purchase_file.Sexo.ne("Masculino") & purchase_file.Sexo.ne("Feminino")].Valor.mean()

print("Preço Médio de Compra por Gênero: \n $%.2f - Masculino \n $%.2f - Feminino \n $%.2f - Outros" %(preco_medio_masc,preco_medio_fem,preco_medio_outro) )

preco_total_masc = purchase_file[purchase_file.Sexo.eq("Masculino")].Valor.sum()
preco_total_fem = purchase_file[purchase_file.Sexo.eq("Feminino")].Valor.sum()
preco_total_outro = purchase_file[purchase_file.Sexo.ne("Masculino") & purchase_file.Sexo.ne("Feminino")].Valor.sum()

print("Valor Total de Compra por Gênero: \n $%.2f - Masculino \n $%.2f - Feminino \n $%.2f - Outros" %(preco_total_masc,preco_total_fem,preco_total_outro) )

Preço Médio de Compra por Gênero:
 $2.95 - Masculino
 $2.82 - Feminino
 $3.25 - Outros
Valor Total de Compra por Gênero:
 $1867.68 - Masculino
 $382.91 - Feminino
 $35.74 - Outros

## Consumidores Mais Populares (Top 5)

In [9]:
# Implemente aqui sua solução

logins = purchase_file.Login.unique()
compras_por_login = dict()
for login in logins:
    compras_por_login[login] = [len(purchase_file[purchase_file.Login.eq(login)].index),
                                purchase_file[purchase_file.Login.eq(login)].Valor.mean(),
                                purchase_file[purchase_file.Login.eq(login)].Valor.sum()]

df = pd.DataFrame(compras_por_login)#,columns=["Número de Compras","Preço Médio","Valor Total"])
compras_por_login = pd.DataFrame(np.array(df.T),columns=["Número de Compras","Preço Médio","Valor Total"])
compras_por_login.index = logins
#print(compras_por_login)

df = compras_por_login.sort_values(by="Valor Total",ascending=False)
df.head(5)

             Número de Compras  Preço Médio  Valor Total
Undirrala66                5.0     3.412000        17.06
Saedue76                   4.0     3.390000        13.56
Mindimnya67                4.0     3.185000        12.74
Haellysu29                 3.0     4.243333        12.73
Eoda93                     3.0     3.860000        11.58

## Itens Mais Populares

In [10]:
# Implemente aqui sua solução

#purchase_file.columns
itens = purchase_file["Item ID"].unique()

compras_por_item = dict()
for item in itens:
    compras_por_item[item] = [purchase_file[purchase_file["Item ID"]==item]["Nome do Item"].to_list()[0],
                             len(purchase_file[purchase_file["Item ID"]==item].index),
                             purchase_file[purchase_file["Item ID"]==item]["Valor"].to_list()[0],
                             purchase_file[purchase_file["Item ID"]==item].Valor.sum()]
    
#print(compras_por_item)
df = pd.DataFrame(compras_por_item)
compras_por_item = pd.DataFrame(np.array(df.T),columns=["Nome do Item","Número de Compras","Preço do Item","Valor Total"])
compras_por_item.index = itens

df = compras_por_item.sort_values(by="Número de Compras",ascending=False)
df.head(5)

,Nome do Item,Número de Compras,Preço do Item,Valor Total
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41
31,Trickster,9,2.07,18.63

## Itens Mais Lucrativos

In [11]:
# Implemente aqui sua solução

df2 = compras_por_item.sort_values(by="Valor Total",ascending=False)
df2.head(5)

                   Nome do Item Número de Compras Preço do Item Valor Total
34              Retribution Axe                 9          4.14       37.26
115  Spectral Diamond Doomblade                 7          4.25       29.75
32                      Orenmir                 6          4.95        29.7
103              Singed Scalpel                 6          4.87       29.22
107   Splitter, Foe Of Subtlety                 8          3.61       28.88

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>